* {
  margin: 0;
  padding: 0;
}
.container {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  background: white;
  /*background-image: url(./wingif.gif);*/
  min-width: 500px;
  min-height: 500px;
  border-radius: 10px;
  outline: 2px solid #ffc4ed;
  outline-offset: -10px;
}
.background-color {
  background: #ffc4ed;
}
.card {
  margin: 10px;
}
input {
  height: 20px;
  border: 1px solid #ffc4ed;
  border-radius: 5px;
  padding: 2px;
}
.submit {
  height: 25px;
  width: 100px;
}
.hid {
  height: 200px;
  margin-top: 50px;
  display: none;
}
.result {
  margin-top: 50px;
  height: 300px;
}
.replay {
  background: black;
  color: #ffc4ed;
  border: 2px solid #ff69d2;
}
.replay:hover {
  font-size: 15px;
}
.guess{
  margin-top: 10px;
}